<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>登录界面</title>
<link rel="stylesheet" href="../static/css/layui/css/layui.css"
	th:href="@{/css/layui/css/layui.css}" />
<script charset="UTF-8" src="../static/css/layui/layui.js"
	th:src="@{/css/layui/layui.js}"></script>
<style>
body {
	background: url(../img/bag.jpeg);
	background-repeat: no-repeat;
}

.mytable {
	float: left;
	width: 33.33%;
	height: 50px;
	text-align: center;
	background-color: #009688;
	line-height: 50px;
}
</style>

</head>
<body>
	<div class="layui-container">
		<div style="float: right;">
			<ul class="layui-nav">
				<li class="layui-nav-item"><a href="">会员注册</a></li>
				<li class="layui-nav-item layui-this"><a href="javascript:;">产品</a>
					<dl class="layui-nav-child">
						<dd>
							<a href="">选项1</a>
						</dd>
						<dd>
							<a href="">选项2</a>
						</dd>
						<dd>
							<a href="">选项3</a>
						</dd>
					</dl></li>
				<li class="layui-nav-item"><a href="">员工注册</a></li>
				<li class="layui-nav-item"><a href="javascript:;">解决方案</a>
					<dl class="layui-nav-child">
						<dd>
							<a href="">移动模块</a>
						</dd>
						<dd>
							<a href="">后台模版</a>
						</dd>
						<dd class="layui-this">
							<a href="">选中项</a>
						</dd>
						<dd>
							<a href="">电商平台</a>
						</dd>
					</dl></li>
				<li class="layui-nav-item"><a href="">社区</a></li>
			</ul>
		</div>
		<div class="layui-row">
			<div
				style="width: 400px; height: auto; margin: 0 auto; margin-top: 200px; border: 1px #000000 solid;">
				<div class="layui-tab">
					<ul class="layui-tab-title">
						<li class="layui-this" style="width: 25.5%;">会员登录</li>
						<li style="width: 26%;">快速寄件</li>
						<li style="width: 25.5%;">员工登录</li>
					</ul>
					<div class="layui-tab-content">
						<div class="layui-tab-item layui-show">
							<div id="left"
								style="width: 100%; padding-top: 50px; margin-left: 10px;">
								<form class="layui-form" action="/member/login"
									style="color: #01AAED;" method="post">
									<div class="layui-form-item">
										<label class="layui-form-label">输入框</label>
										<div class="layui-input-block" style="width: 190px;">
											<input type="text" name="username" lay-verify="required"
												placeholder="请输入用户名" autocomplete="off" class="layui-input" />
										</div>
										<div id="sheet1"
											class="mui-popover mui-popover-bottom mui-popover-action ">
										</div>
									</div>
									
									<div class="layui-form-item">
										<label class="layui-form-label">密码框</label>
										<div class="layui-input-inline">
											<input type="password" name="password" lay-verify="required"
												placeholder="请输入密码" autocomplete="off" class="layui-input" />
										</div>
										<div class="layui-form-mid layui-word-aux"></div>
									</div>
									
									<div class="layui-form-item">
										<div class="layui-input-block">
											<button class="layui-btn" lay-filter="formDemo">立即提交</button>
											<button type="reset" class="layui-btn layui-btn-primary">重置</button>
										</div>
									</div>
									
								</form>
							</div>
						</div>
						<div class="layui-tab-item"></div>
						<div class="layui-tab-item">
							<div id="right"
								style="width: 100%; padding-top: 50px; margin-left: 10px;">
								<form class="layui-form" action="" style="color: #01AAED;"
									method="post">
									<div class="layui-form-item">
										<label class="layui-form-label">输入框222</label>
										<div class="layui-input-block" style="width: 190px;">
											<input type="text" name="username" lay-verify="required"
												placeholder="请输入用户名" autocomplete="off" class="layui-input" />
										</div>
									</div>
									<div class="layui-form-item">
										<label class="layui-form-label">密码框222</label>
										<div class="layui-input-inline">
											<input type="password" name="password" lay-verify="required"
												placeholder="请输入密码" autocomplete="off" class="layui-input" />
										</div>
										<div class="layui-form-mid layui-word-aux"></div>
									</div>
									<div class="layui-form-item">
										<div class="layui-input-block">
											<button class="layui-btn" lay-filter="formDemo">立即提交</button>
											<button type="reset" class="layui-btn layui-btn-primary">重置</button>
										</div>
									</div>
								</form>
							</div>
						</div>
						<div id="right"
							style="width: 100%; padding-top: 100px; display: none; margin-left: 10px;">
							<form class="layui-form" action="" style="color: #01AAED;">
								<div class="layui-form-item">
									<label class="layui-form-label">输入框222</label>
									<div class="layui-input-block" style="width: 190px;">
										<input type="text" name="username" lay-verify="required"
											placeholder="请输入用户名" autocomplete="off" class="layui-input" />
									</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">密码框222</label>
									<div class="layui-input-inline">
										<input type="password" name="password" lay-verify="required"
											placeholder="请输入密码" autocomplete="off" class="layui-input" />
									</div>
									<div class="layui-form-mid layui-word-aux"></div>
								</div>
								<div class="layui-form-item">
									<div class="layui-input-block">
										<button class="layui-btn" lay-filter="formDemo">立即提交</button>
										<button type="reset" class="layui-btn layui-btn-primary">重置</button>
									</div>
								</div>
							</form>
						</div>
					</div>

				</div>
			</div>
		</div>

		<script>
			//注意：选项卡 依赖 element 模块，否则无法进行功能性操作
			layui.use('element', function() {
				var element = layui.element;

				//…
			});
		</script>

		<script>
			//Demo
			layui.use('form', function() {
				var form = layui.form;
				//监听提交
				form.on('submit(formDemo)', function(data) {
					layer.msg(JSON.stringify(data.field));
					return false;
				});

			});
		</script>
	</div>
</body>
</html>
